

<style>
 
  

    p {
      margin: 0;
      color: var(--gray-700);
    }
  
    main {
      width: 100%;
      min-height: 100%;
     
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-sizing: inherit;
      position: relative;
    }
  

    
  </style>
  
  <main class="main">
    <section> <h1> 
      Segundos desperdiciados mirando esta pagina:  {{cont}}

  

    </h1> </section>
      <h2>
        <button (click)="contador()" class="btn btn-primary btn-lg">Iniciar</button>
        <br>
   Como no hay mucho por ver por aqui, te dire algunos datos interesantes que en realidad no son utiles
   <br>
  -El maní es uno de los ingredientes de la dinamita.
  <br>
  -El himno nacional de Grecia tiene 158 versos. 
  <br>
  -Hay 293 formas de hacer cambios por un dólar.
  <br>
  -Es imposible estornudar con los ojos abiertos.
  <br>
  pasa un bonito dia c:
      </h2>
      <section> <h3> 
        
        
        Segundos de vida que te quedan:  {{cont1}}
        <br>
        Fernando Quintana 
        
      </h3> </section>
      
  
  
  </main>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
 